SITE_ID=1
SITE_CODE=HQT_ELEVATOR
SITE_HOST=127.0.0.1
SITE_DOMAIN=localhost
SITE_LOG_LEVEL=WARNING

DB_ENGINE=django.db.backends.mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=python_app_web
DB_USER=root
DB_PASSWORD=dev_only_pwd

EMAIL_HOST=smtp-server
EMAIL_HOST_USER=admin@example.com
EMAIL_HOST_PASSWORD=admin
EMAIL_PORT=1025
EMAIL_USE_TLS=False

DEFAULT_MARKETING_EMAIL=marketing-team@example.com
DEFAULT_NOTIFY_EMAIL=tracking-team@example.com




APP_DEBUG=True
APP_INITIAL=True
APP_COLLECT=True
APP_MIGATE=True
APP_USER_NAME=admin
APP_USER_PASS=admin123
APP_USER_EMAIL=namdwb@example.com
OPENAI_API_KEY=
GEMINI_API_KEY=

