SITE_ID=1
SITE_CODE=HQT_ELEVATOR
SITE_HOST=27.0.15.66
SITE_DOMAIN=thangmayhqt.com

DB_ENGINE=django.db.backends.mysql
DB_HOST=db
DB_PORT=3306
DB_NAME=hqt_prod
DB_USER=
DB_PASSWORD=

EMAIL_HOST=smtp-server
EMAIL_HOST_USER=no-reply@thangmayhqt.com
EMAIL_HOST_PASSWORD=
EMAIL_PORT=587
EMAIL_USE_TLS=False

DEFAULT_MARKETING_EMAIL=marketing-team@thangmayhqt.com
DEFAULT_NOTIFY_EMAIL=tracking-team@thangmayhqt.com

