# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.venv/

# Django stuff
*.log
db.sqlite3
staticfiles/
libs/
backup/
uploads/
*.sqlite3

# Django migrations cache (optional if you want clean repo)
**/migrations/__pycache__/
**/migrations/*.pyc

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test / coverage
htmlcov/
.coverage
.pytest_cache/

# Celery
celerybeat-schedule

# collectstatic output
staticfiles/

# Docker
*.pid

# Node (if frontend exists)
node_modules/
npm-debug.log
yarn-error.log