SITE_ID=1
DJANGO_LOG_LEVEL=WARNING
DJANGO_ALLOWED_HOSTS=thangmayhqt.com localhost 127.0.0.1 [::1]
DJANGO_PROJECT_HOST=thangmayhqt.com

DB_ENGINE=django.db.backends.mysql
DB_HOST=db
DB_PORT=3302
DB_NAME=hqt_prod
DB_USER=
DB_PASSWORD=

EMAIL_HOST=smtp-server
EMAIL_HOST_USER=no-reply@thangmayhqt.com
EMAIL_HOST_PASSWORD=
EMAIL_PORT=587
EMAIL_USE_TLS=False
DEFAULT_MARKETING_EMAIL=marketing-team@thangmayhqt.com
DEFAULT_NOTIFY_EMAIL=tracking-team@thangmayhqt.com

