<!DOCTYPE HTML>{% load seo_meta html_tags thumbnail i18n static trad url_cms url_link url_language region_language get cache is_browser gtm %}{% region_language LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE}}">
<head>
{% compact 1 %}
    <title>{% block page_title %}{% seo_meta title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{% seo_meta description %}" />
    <meta name="keywords" content="{% seo_meta keywords %}" />
    <meta name="author" content="namdwb@gmail.com" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#B91C1C">
    <meta name="robots" content="{{ page.robots }}">
    {% if project.webmastertools %}
    <meta name="google-site-verification" content="{{project.webmastertools}}" />
    {% endif %}    
    {% block open_graph %}
    <meta property="og:type" content="{% seo_meta code %}">
    <meta property="og:title" content="{% seo_meta title %}">
    <meta property="og:description" content="{% seo_meta description %}">
    <meta property="og:image" content="{% seo_meta image %}">
    {% endblock open_graph %}
    {% block twitter %}
    <meta name="twitter:card" content="{% seo_meta card %}">
    <meta name="twitter:title" content="{% seo_meta title %}">
    <meta name="twitter:description" content="{% seo_meta description %}">
    <meta name="twitter:image" content="{% seo_meta image %}">
    {% endblock twitter %}
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}">
    {% comment %}
    <meta property="og:site_name" content="{{ request.scheme }}://{{ request.get_host }}">
    {% endcomment %}
    <meta property="og:site_name" content="{{ project.name }}">
    <meta property="og:locale" content="{{LANGUAGE_CODE}}_{{REGION_CODE}}" />
    {% for code, language in project.languages_dict.items %}
        {% if code != LANGUAGE_CODE %}<meta property="og:locale:alternate" content="{{code}}_{{code|upper}}" />{% endif %}
    {% endfor %}

    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ request.path|cut:'?' }}">
    <link rel="alternate" href="{{ request.scheme }}://{{ request.get_host }}{{ request.path|cut:'?' }}" hreflang="{{LANGUAGE_CODE}}-{{REGION_CODE}}"/>
    {% for lang, domain in domains.items %}
        {% if lang == LANGUAGE_CODE and page and not page.is_home %}
            {% for lg, pg in page_languages.items %}
                {% if lg == lang %}
                <link rel="alternate" hreflang="{{lang}}" href="{{domain}}/{{pg}}" />
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    <!-- Favicons -->
    {% if project.imageFavicon|length %}<link rel="icon" type="image/x-icon" href="{{ project.imageFavicon.url }}">{% endif %}
    
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    {% spaceless %}
    <style>
        * { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
        .fab.fa-zalo {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            width: 32px;
            height: 32px;
            border-radius: 50%;

            /* background: #0068ff; */
            color: white;

            font-size: 11px;
            font-weight: bold;
            font-family: Arial, sans-serif;

            position: relative;
        }
        .fab.fa-zalo::before {
            content: "Zalo";
            line-height: 1;
        }
    </style>

    {% block extracss %}{% endblock %}

    {% if project.GOOGLE_TAG_MANAGER %}
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create','{{project.analytics}}','auto',{'allowLinker':true});
        ga('require','linker');
        ga('linker:autoLink',['{{project.domain}}']);
        ga('send','pageview');
    </script>
    <!-- End Google Analytics -->
    {% endif %}
    {% endspaceless %}
{% endcompact %}
</head>

<body class="class="bg-gray-50{% if not page.is_home %} inner{% endif %}{% if not page.code %} bookcore_page{% else %} {{ page.code }}{% endif %}">
    {% if project.GOOGLE_TAG_MANAGER %}
        {% google_tag_manager %}
        {% block gtm_extra %}{% endblock gtm_extra %}
    {% endif %}

    <div id="wrapper" class="page">
    {% block header %}{% include "default/partials/header.html" %}{% endblock header %}
    {% block breadcrumb %}{% include "default/partials/breadcrumb.html" %}{% endblock breadcrumb %}
    {% block innerhero %}{% include "default/partials/innerhero.html" %}{% endblock innerhero %}
    {% block content %}{% endblock content %}
    {% block footer %}{% include "default/partials/footer.html" %}{% endblock footer %}
    </div>

    <!-- Template Javascript -->
{% compact 1 %}
    {% block extrajs %}{% endblock %}

    {% if project.GOOGLE_TAG_MANAGER %}
      <script type="text/javascript" src="/bookcore/static/js/gtm/load-gtm.min.js"></script>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const btn = document.getElementById('mobile-menu-btn');
            const menu = document.getElementById('mobile-menu');
            const iconMenu = document.getElementById('icon-menu');
            const iconClose = document.getElementById('icon-close');
            
            btn.addEventListener('click', function() {
            // Bật/tắt menu
            menu.classList.toggle('hidden');
            
            // Chuyển đổi icon Hamburger <-> Dấu X
            iconMenu.classList.toggle('hidden');
            iconClose.classList.toggle('hidden');
            });
        });
        document.querySelectorAll('.js-modal-popup').forEach(function (el) {
            el.addEventListener('click', function (e) {
                e.preventDefault();

                const width = this.dataset.width || 600;
                const height = this.dataset.height || 550;

                window.open(this.href, '', `width=${width},height=${height},scrollbars=yes`);
            });
        });
        document.querySelectorAll('form.js-ajax-form').forEach(function(form) {

            // check existing message element
            let message = form.querySelector('.js-form-message');
            if (!message) {
                message = document.createElement('p');
                message.className = 'js-form-message hidden mt-4 text-sm font-medium';
                form.appendChild(message);
            }

            form.addEventListener('submit', function(e) {
                e.preventDefault();
                
                const button = form.querySelector('[type="submit"]');

                button.disabled = true;
                button.classList.add('opacity-50', 'cursor-not-allowed');
                message.classList.add('hidden');

                fetch(form.action, {
                    method: 'POST',
                    body: new FormData(form),
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        form.reset();
                        message.innerText = '✓ Gửi thông tin thành công';
                        message.className = 'js-form-message mt-4 text-sm font-medium text-green-600';
                    } else {
                        let errors = [];
                        Object.keys(data.errors).forEach(function(errorField) {
                        const errorList = data.errors[errorField]
                            console.log({ errorField, errorList }); // debug
                        });
                        
                        // message.innerText = errors.join(', ');
                        message.innerText = 'Có lỗi xảy ra. Vui lòng thử lại.';
                        message.className = 'js-form-message mt-4 text-sm font-medium text-red-600';
                    }
                })
                .catch(error => {
                    message.innerText = 'Có lỗi xảy ra. Vui lòng thử lại.';
                    message.className = 'js-form-message mt-4 text-sm font-medium text-red-600';
                    message.classList.remove('hidden');

                    console.error(error);
                }).finally(() => {
                    setTimeout(function() {
                        message.classList.add('hidden');
                    }, 3000);

                    button.disabled = false;
                    button.classList.remove('opacity-50', 'cursor-not-allowed')
                });;
            });

        });
    </script>
{% endcompact %}
</body>
</html>
